@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-Frame-Bg: linear-gradient(89.97deg, #623D93 1.84%, #E1B3D1 102.67%);
  --gradient-Desktop-Bg: linear-gradient(103.22deg, #C977D6 -13.86%, #0B1531 99.55%);
  --gradient-Button-Hero: linear-gradient(89.97deg, #602EA6 1.84%, #C977D6 102.67%);
  --gradient-Large-Title: linear-gradient( #CC51D6 , #5A68E8 , #E1B1FF) 1;

  --color-Primary: #FFFFFF;
  --color-Secondary: #c7c4c4;
  --color-Tertianary: #9fa0a0;
  --color-Quartenary: #646464;
  --color-Background: #0B1531;
  --color-Presentation: #623D93;
  --color-Hero-Button: #C977D6;
  --color-Card-Button: #313A5B;
  --color-LargeTitle: #5A68E8;

}
